<!DOCTYPE html>
<html>
<head>
    <title> Ejemplo de inclusión de archivos EJS </title>
</head>
<body>
    <%- include('./partials/_header') %>
    
    <h1>Contenido principal</h1>
    <p>Este es el contenido del archivo principal.</p>
</body>
</html>